@import "../../common/style/colors.scss";

.button-container {
  font-family: RoundedBookRegular, Roboto, serif;
  font-size: 0.9em;
  flex: 1;
  color: $white;
  cursor: pointer;
  user-select: none;

  text-align: center;

  border-left: solid 2px;
  border-bottom: solid 2px;
  padding: 10px;
  border-bottom-left-radius: 40px;

  &:hover {
    color: $orange;
  }

  .button-subtitle {
    font-size: 0.7em;
  }
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}