@import "../../common/style/colors.scss";
@import "../../common/style/sizes.scss";

.menu-container {
  font-family: "RoundedBookRegular", Roboto, serif;
  text-align: right;
  font-size: $menu-title;
  font-weight: normal;
  color: $orange;
}

.menu-row {
  cursor: pointer;
  user-select: none;
  padding: 10px 0;

  &.huge {
    font-size: 1.5em;
    padding-bottom: 8px;
  }

  &.selected {
    color: $white;
  }

  &:hover {
    color: $white;
  }

  .menu-title {

  }

  .subtitle {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1024px) {
  .menu-container {
    padding: 8px 0;
    font-size: 0.8*$menu-title;
  }
}

@media screen and (max-device-width: 960px) {
  .menu-container {
    font-size: 1.5*$menu-title;
  }
}
