@import "../../common/style/colors.scss";
@import "../../common/style/sizes.scss";

.page-container {
  height: 100%;
  overflow: hidden;

  min-width: 0;
  margin: 0 20% 0 7.5%;
  display: grid;
  grid-template-columns: 2fr 1fr 6fr;
  grid-auto-rows: 150px;
  grid-gap: 20px;

  .page-img {
    cursor: pointer;
    grid-column: 1;
    grid-row: 1 / 4;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 40px;
  }

  .page-menu {

    grid-column: 1;
    grid-row: 4 / 6;
  }

  .page-title {
    font-family: RoundedBookRegular, Roboto, serif;
    grid-column: 2;
    grid-row: 1 / 6;

    position: relative;
    div {
      color: $white;
      font-size: $title;
      white-space: nowrap;
      position: absolute;
      left: 50%;
      transform-origin: right;
      transform: translateX(-100%) translateY(calc(-50% + 40px)) rotate(-90deg);
    }

  }

  .page-content {
    grid-column: 3;
    grid-row: 1 / 3;

    padding-top: 100px;
    font-family: Perpetua, Roboto, serif;
    font-size: $default;
    text-align: justify;
    color: $white;


  }

  .page-subtitle {
    font-family: RoundedBookRegular, Roboto, serif;
    font-size: $default;
    text-align: justify;
    color: $white;
  }

  .page-buttons {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 1024px) {
  .page-container {
    margin: 0 10%;
    grid-template-columns: 3fr 1fr 5fr;
    grid-auto-rows: 120px;

    .page-img {
      grid-row: 1/4;
    }

    .page-menu {
      grid-row: 4;
    }

    .page-title {
      grid-row: 1 / 6;
      div {
        font-size: 0.8*$title;
      }
    }

    .page-content {
      grid-row: 1/4;
      font-size: 0.9*$default;
    }

    .page-buttons {
      grid-row: 4;
    }
  }
}

@media screen and (max-device-width: 960px){
  .page-container {
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .page-img {
      grid-column: 1 / 5;
      grid-row: 1 / 4;

      border-bottom-left-radius: 80px;
    }

    .page-menu {
      display: none;
    }

    .page-title {
      grid-column: 1;
      grid-row: 4 / 7;

      div {
        font-size: 1.5*$title;
      }

    }

    .page-content {
      grid-column: 2 / 5;
      grid-row: 4 / 8;

      padding-top: 50px;
      padding-right: 50px;
      font-size: 1.5*$default;
    }

    .page-subtitle {
      font-size: 1.5*$default;
    }

    .page-buttons {
      margin: 50px;
      grid-column: 1 / 5;
      grid-row: 8 / 10;
    }
  }
}