@import "../../common/style/colors.scss";
@import "../../common/style/sizes.scss";

.page-container {
  height: 100%;
  overflow: hidden;

  min-width: 0;
  margin: 0 20% 0 7.5%;
  display: grid;
  grid-template-columns: 2fr 1fr 6fr;
  grid-auto-rows: 150px;
  grid-gap: 20px;

  .page-img {
    grid-column: 1;
    grid-row: 1 / 4;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 40px;
  }

  .page-menu {

    grid-column: 1;
    grid-row: 4 / 6;
  }

  .page-title {
    font-family: RoundedBookRegular, Roboto, serif;
    grid-column: 2;
    grid-row: 1 / 6;

    position: relative;
    div {
      color: $white;
      font-size: $title;
      white-space: nowrap;
      position: absolute;
      left: 50%;
      transform-origin: right;
      transform: translateX(-100%) translateY(calc(-50% + 40px)) rotate(-90deg);
    }

  }

  .page-content {
    grid-column: 3;
    grid-row: 1 / 5;

    padding-top: 100px;
    font-family: Perpetua, Roboto, serif;
    font-size: $default;
    text-align: justify;
    color: $white;

    .page-subtitle {
      font-family: RoundedBookRegular, Roboto, serif;
    }
  }

  .page-buttons {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
}

@media (max-width: 970px) {
  .page-container {
    margin: 0 10%;

    .page-img {
      grid-row: 1/3;
    }

    .page-menu {
      grid-row: 3/6;
    }

    .page-title {
      grid-row: 1 / 6;
      div {
        font-size: 0.8*$title;
      }
    }

    .page-content {
      grid-row: 1/6;
      font-size: 0.9*$default;
    }
  }
}