@import "../variables.scss";
@import "../../common/style/colors.scss";

.top-layout {
  $title-size: 50px;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  font-family: 'Perpetua', Roboto, serif;
  background-color: $white;
  width: 100%;
  height: $top-layout-height;
  border-bottom-left-radius: 0.75*$top-layout-height;
  padding-left: 0.5*$top-layout-height;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  .logo {
    cursor: pointer;
    user-select: none;
    height: 0.5*$top-layout-height;
    margin: 10px;
  }
}

.top-layout-shadow {
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 8.5%;
  opacity: 0.5;
  box-shadow: 5px 10px 30px 40px $black;
  transform: rotate(-5deg);
  background-color: $black;
}